.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.get{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}
#del, #edit{
    width: 42px;
    height: 30px;
    cursor: pointer;
}
#del{
    background-color: rgb(206, 67, 67);
    border: none;
    color: white;
    border-radius: 5px;
}
#edit{
    background-color: rgb(51, 145, 51);
    border: none;
    border-radius: 5px;
    color: white;
}
.check{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}
