  .App{
    border: 1px solid rgb(84, 84, 84);
    width: 550px;
    margin: 150px auto;
    border-radius: 4px;
  }
  .content_body{
    margin-top: 10px;
    border: 1px solid rgb(155, 152, 152); 
  }
  .content_body > div:nth-child(even){
      background: rgb(220, 220, 220);
  }